body
{
  font-family: 'Titillium Web', sans-serif;
  background: rgb(155, 185, 233);
  
  font-family: 'Titillium Web', sans-serif;
  
  
  
  
}

header
{
  background:#0E50B4;
  color: #DBDBDB;
  height: 200px;
  margin-bottom: 100px;
}

#navbar
{
  text-align: right;
  position: fixed;
  width: 100%;
  top: 0 px;
  background:rgba(14, 80, 180, 0.787);
  z-index: 1;
}
#navbar li
{
  display: block;
  float: right;
  text-align: center;
  padding: 14px 20px 14px 20px;
  text-decoration: none;
}
#navbar a
{
  color: #EEBB17;
  text-decoration: none;
}
#navbar a:hover {
  color: black;
  text-decoration: none;
}
#welcome-section
{
  min-height: 55vh;
  padding-top: 45vh;
  top: 0;
}
#welcome_name
{
  margin-left: 25%;
  margin-right: 30%;
  padding-bottom: 45vh;
}
@media (max-width: 520px)
{
  #welcome_name
{
  margin-left: 15%;
  margin-right: 20%;
}
#welcome-section
{
  min-height: 45vh;
  padding-top: 35vh;
}
}

/* ****************************************************************************** */
.Element h1 div img ul li
{
  box-sizing: border-box;
}

.Element
{
  width: auto;
  height: auto;
  min-width: 100px;
  background: rgb(40, 78, 247);
  color: #e0df98;
  box-shadow: 2px 14px 23px 6px rgba(34, 64, 233, 0.75);
  border: 2px solid rgb(2, 16, 78);
  border-radius: 10px;

  margin-left: 30%;
  margin-right: 30%;
}

.Element:hover
{
  box-shadow: 2px 14px 23px 6px rgb(161, 238, 180);
}
.Element h1
{
  font-size: 25px;
  font-weight: lighter;
  margin: 7px 5px 7px 15px;
}




/*Footer Section **************************************************************************************************  */
footer
{
  height: 200px;
  background:red;
  margin-top: 100px;

  
}
